@charset "utf-8";

@font-face {
  font-family: "kleeone";
  src: url("https://cdn.glitch.global/009077d5-7fd0-45ef-b929-2f08b3536d89/kleeone.ttf?v=1728624644168")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  word-wrap: break-word;
}
select option:disabled {
  visibility: visible; /* デフォルトでは非表示になっているが、強制的に表示 */
  pointer-events: none; /* クリック不可にする */
  cursor: default;
  opacity: 1;
  color:#000066;
  font-weight:bold;
}
select option:hover {
  cursor:pointer;
}
textarea,
body,
button,
input,
select {
  font-family: "kleeone", sans-serif;
}
.gra {
  background: linear-gradient(90deg, SlateBlue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button,
input {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1em; /* 少し小さめにして全体のバランスを良く */
  transition: background-color 0.3s ease, transform 0.3s ease; /* アニメーション追加 */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ボタンに軽い影を追加 */
}
select {
  background-color: #FFFFCC;
  color: #000000;
  border-radius: 5px;
  font-size: 1em; /* 少し小さめにして全体のバランスを良く */
  cursor: default;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ボタンに軽い影を追加 */
}

button:hover,
input:hover {
  background-color: #0056b3; /* ホバー時の色を少し暗くする */
  transform: translateY(-2px); /* ホバー時に少し浮かせる */
}

header {
  background-color: #008080;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  font-size: 2em;
  letter-spacing: 1px; /* スペーシングを少し狭めてバランスを調整 */
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ヘッダーに影を追加 */
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
}

main {
  flex: 1;
  padding: 40px 20px;
  background: linear-gradient(to bottom, #ffffff, #f0f8ff);
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px; /* メインコンテンツに角丸を追加 */
}

footer {
  background-color: #001f3f;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
  border-top: 5px solid #00c6ff;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.info {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media print {
  header,
  .menubar,
  .settings,
  footer {
    display: none;
  }
  .changed {
    background-color: #ffff99;
  }
}
